*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    padding-bottom: 60px;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    background-color: #F3F5FC;
}

header{
    position: absolute;
    top: 40px;
    left: 40px;
    display: inline-block;
    background-color: gray;
}

main{
    width: 100vw;
    height: 94vh;
    margin: 0 auto;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between; 
}

footer{
    position: absolute;
    background-color: gray;
    padding: 20px;
    /* Probar quitar bottom */
    bottom: 0;
    display: inline-block;
    width: 100vw;
    text-align: center;
}

/* Área 1 */
.area1{
    background-color: greenyellow;
    position: relative;
    width: 680px;
    left: 240px;
    margin-top: 20px;
}

.ingresa-texto{
    position: absolute;
    top: 168px;
    max-width: 100%;
}

.texto-ingresado{
    width: 100vh;
    height: 60vh;
    border: none;
    resize: none;
    outline: none;
    background-color: #F3F5FC;
    cursor: text;
    color: #0A3871;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
}

.texto-ingresado::placeholder{
    font-family: "Inter", sans-serif;
    color: #0A3871;
    opacity: 0.3;
}

.instruccion{
    position: absolute;
    top: 850px;
    font-weight: 400;
    font-size: 12px;
    opacity: 0.7;
    color: #495057;
}

.btn-encriptar-desencriptar{
    position: absolute;
    top: 885px;
    width: 680px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Botones */
.encriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #0A3871;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
    transition: all .4s ease-out;
}

.desencriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #D8DFE8;
    color: #0A3871;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    border: 1px solid #0A3871;
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
    transition: all .4s ease-out;
    /* word-wrap: break-word; */
}

/* Efecto Hover Botones */
.encriptar:hover{
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
    transform: scale(1.08);
    transition: all .4s ease-in;
}

.desencriptar:hover{
    background-color: #0A3871;
    color: #D8DFE8;
    border: 1px solid #0A3871;
    transform: scale(1.08);
    transition: all .4s ease-in;
}

/* Área 2 */
.area2{
    position: relative;
    width: 400px;
    height: 944px;
    top: 40px;
    right: 40px;
    background-color: #FFFFFF;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.2);
}

.muneco{
    position: absolute;
    display: inline-block;
    top: 243px;
    right: 8%;
}

.decodificar-texto{
    position: absolute;
    width: 360px;
    top: 579px;
    right: 8%;
}

.decodificar-texto h3{
    height: 58px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    color: #343A40;
    margin-bottom: 20px;
}

.decodificar-texto p{
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #495057;
}

.contenedor-texto{
    position:absolute;
    /* display: flex;
    justify-content: center; */
    background-color: aquamarine;
    opacity: .5;
    width: 336px;
    height: 781px;
    top: 32px;
    right: 8%;
}

.texto-desencriptado{
    /* background-color: red; */
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #495057;
    word-wrap: break-word;
}

.btn-copy{
    position: absolute;
    display: inline-block;
    top: 845px;
    right: 8%;
}

.copiar{
    width: 336px;
    height: 67px;
    border-radius: 24px;
    border: 1px solid #0A3871;
    background-color: #FFFFFF;
    color: #0A3871;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: all .4s ease-out;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
}

/* Hover de btn Copiar */
.copiar:hover{
    background-color: #D8DFE8;
    transform: scale(1.09);
    transition: all .4s ease-in;
}

.ocultar{
    display: none;
}
